{% extends 'admin/master.html' %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_button %}
{% include "security/_messages.html" %}
{% block head %}
    <style>
        body {
            background: #d2d6de;
        }
    </style>
{% endblock head %}
{% block page_body %}
    <div class="login-box">
        <div class="login-logo">
            {% autoescape false %}{{ admin_view.admin.long_name }}{% endautoescape %}
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Send password reset instructions</p>
            <form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
                {{ forgot_password_form.hidden_tag() }}
                {{ render_field_with_errors(forgot_password_form.email, 'fa fa-at') }}
                <div class="row">
                    <div class="col-xs-12">
                        {{ render_button(forgot_password_form.submit, class="btn btn-primary btn-block btn-flat") }}
                    </div>
                </div>
            </form>
        </div>
        <p class="text-center" style="margin-top: 15px;">
            <a href="{{ url_for('security.login') }}">Sign In</a>
        </p>
    </div>
{% endblock page_body %}